<section class="section section-chat">
	<aside class="section-chat__users-list">
		<div class="section-chat__profile-link">
			<a href="/profile" class="profile-link">profile</a>
		</div>
		<div class="section-chat__search">
			<input class="search" type="text" name="search" placeholder="Search" ></input>
		</div>
		<div class="list">
			users list is empty
		</div>

	</aside>
	<div class="section-chat__messanges smiles-bg">
		Select a chat to send a message
	</div>
</section>