<section class="section navigation smiles-bg">
	<div class="form-wrapper">
		<div class="title-wrapper">
			<h1	class="title">Navigation</h1>
		</div>
		<div class="navigation__links">
			<a href="/sign-in" class="link">sign-in</a>
			<a href="/sign-up" class="link">sign-up</a>
			<a href="/chat" class="link">chat</a>
			<a href="/profile" class="link">profile</a>
			<a href="/profile-change" class="link">profile change</a>
			<a href="/change-password" class="link">change password</a>
			<a href="/404" class="link">404</a>
			<a href="/500" class="link">500</a>
		</div>
	</div>
</section>