<section class="section section__sign-in smiles-bg">
	<div class="form-wrapper">
		<div class="title-wrapper">
			<h1	class="title">Sign in</h1>
		</div>
		<form action="#" class="form form__sign-in">
			<div class="inputs-wrapper">
				{{#each inputs}}
					{{>input }}
				{{/each}}
			</div>
			<div class="btn-group">
				{{> button buttonClass='' buttonValue="Sign in"}}
			</div>
			<a href="/sign-up" class="link">Create profile</a>
		</form>
	</div>
</section>