<section class="section error-page smiles-bg ">
	<div class="error-page__content error-content error404">
		<div class="error-content__img-wrapper">
			<img src={{image_error}} alt="Изображение мем" class="error-img">
		</div>
		<div class="error-content__title-wrapper">
			<h1 class="error-content__title">404</h1>
		</div>
		<div class="error-content__description-wrapper">
			<p class="error-content__description">Not Found</p>
		</div>
		<div class="error-content__link-wrapper">
			<a href="/chats">Back to chats</a>
		</div>
	</div>
</section>